*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Paprika', cursive;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12%;
    width: 100%;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.half-width{
    width: 50%;
    margin-top: 5.5%;
}
.half-width img{
    width: 50%;
    padding-left: 5%;
}
.half-width p{
    text-align: justify;
}
.button{
    width: auto;
    padding: 7px;
    background-image:linear-gradient( orange,red);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: .3s;

}
.button:hover{
    background-image: linear-gradient(red, orange);
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.banner2{
    display: flex;
    width: 100%;
    margin-top: 10%;
    background-image: url(images/bg2.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.half{
    width: 50%;
    margin-left: 7%;
}
.half img{
    width: 60%;
}
.half2{
    width: 40%;
    margin-right: 10%;
}
.resume{
    border: none;
    background-image: linear-gradient(orange, rgb(230, 74, 35));
    border-radius: 5px;
    transition: .2s;
}
.resume a{
    color: white;
    box-shadow: 2px 1px 2px 1px gray;
    font-size: 1.2rem;
}

.resume:hover{
    background-image: linear-gradient(red, orange);
    transform: scale(1.2);
}
.head-h2{
    margin: 50px;
}
.head-h2 h2 {
    margin-left: 46px;
    font-size: 2.5rem;
    padding-top: 7px;
  }
.end{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.card1-1{
    width:40%;
    height: 300px;
    box-shadow: 4px 1px 3px 2px gray;
    border-radius: 5px;
    transition: .2s;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
    border-left: 5px solid;
    margin: 0 auto;
}
.card1-1 h3{
    text-align: center;
    font-size: 2rem;
}

.card1-1 p{
    font-size: 1rem;
    color: black;
    margin-left: 10px;
}
.card1-1 h2{
    padding-top: 15px;
}

.card2-2 h2{
    padding-top: 15px;
}

.card1-1 h2{
    text-align: center;
}
.card2-2 h2{
    text-align: center;
    
}
.card2-2{
    width:40%;
    height: 300px;
    border-left: 1px solid;
    box-shadow: 4px 1px 3px 2px gray;
    border-radius: 5px;
    transition: .2s;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 5px solid;
    margin: 0 auto;
}
.card2-2 p{
    margin-top: 15px;
    font-size: .9rem;
    padding-left: 10px;
}

.card1-1 p{
    margin-top: 15px;
    padding-left: 10px;
    font-size: .9rem;
}
.card2-2:hover{
    transform: scale(1.1);
    margin: 0 auto;
}
.card1-1:hover{
    transform: scale(1.1);
    /* margin-right: 10px; */
    margin: 0 auto;

}
#footer{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}


/* mediaquary start */
@media  screen and (max-width: 992px) {
    .banner{
        flex-direction: column;
    }
    .half-width{
        width:80%;
        padding-left: 5%;
    }
    h1{
        font-size: 30px;
    }
    .half-width img{
        width: 70%;
        margin-top: 10%;
        margin: 0 auto;
        
    }
    .half-width p{
        text-align: justify;
        padding: 10px;
    }
   .banner2{
       flex-direction: column;
       width: 100%;
   }
   .half{
       width: 100%;
       text-align: center;
   }
   .half2{
       width: 100%;
       text-align: center;
   }
   .end{
       flex-direction: column;
   }
    .card1-1{
        width: 75%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: justify;

    }
    .card2-2{
        width: 75%;
        margin: 0 auto;
        text-align: center;
        text-align: justify;
        margin-top: 30px;
    }

}




@media  screen and (max-width: 500px) {
    .banner{
        flex-direction: column;
    }
    .half-width{
        width:80%;
        padding-left: 5%;
    }
    h1{
        font-size: 30px;
    }
    .half-width img{
        width: 70%;
        padding-left: 5%;
        
    }
    .half-width p{
        text-align: justify;
        padding: 10px;
    }
}